@inject HttpClient http

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <EditForm Model="MetaModificar" OnValidSubmit="ModalOk">
            <DataAnnotationsValidator />
            <div class="modal-header" style="background-color:#17A2B8">
                <h4 class="modal-title" style="color:white">Desea editar esta meta?</h4>
                <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
            </div>
            <div class="modal-body">
                    <input type="text" class="form-control" placeholder="Meta" @bind-value="MetaModificar.NombreMeta">
                <ValidationMessage For="@(()=> MetaModificar.NombreMeta)" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-outline-primary">Editar</button>
            </div>

            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter]
    public Meta MetaModificar { get; set; }

    protected override void OnParametersSet()
    {
        var r = MetaModificar;
    }



    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private async Task ModalOk()
    {
        await GuardarMeta();
        await OnClose.InvokeAsync(true);
    }

    private async Task GuardarMeta()
    {
        var re = await http.PutAsJsonAsync("metas", MetaModificar);
        var result = re.Content.ReadFromJsonAsync<int>();
        if (result.Result > 0)
        {
            //await js.Alert("Sucursal registrada correctamente");
            await InvokeAsync(StateHasChanged);
        }
    }

}